:root {
  --primary-bg: #3b3a3a;
  --secondary-bg: #727272;
  --text-color: white;
  --hover-color: #34c309;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --text-title:#34c309;
}

.ajouter-anime-container {
  background-color: var(--secondary-bg);
  min-height: 100vh;
  padding-top: 100px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.ajouter-anime-container h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--text-title);
}

.ajouter-form {
  background-color: #2d2d2d;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 500px;
  width: 100%;
}

.ajouter-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: var(--text-color);
}

.ajouter-form select,
.ajouter-form textarea {
  margin-top: 0.5rem;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: var(--text-color);
}

.ajouter-form textarea:focus,
.ajouter-form select:focus {
  outline: 2px solid var(--hover-color);
}

.ajouter-form button {
  padding: 0.75rem;
  background-color: var(--hover-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ajouter-form button:hover {
  background-color: #2fa507;
}

.message {
  margin-top: 1rem;
  font-weight: bold;
  color: var(--hover-color);
  text-align: center;
}